$text-color: #333333;
$base-font-family: 'Helvetica', 'sans-serif';

$body-bg-color: #F4F4F4;
$body-font-size: 16px;

$line-height-ratio: 1.4;

$content-width: 800px;
$spacing-unit: 30px;

$small-breakpoint: 768px;
